<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Comprá hasta morir</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="./public/css/styles.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    </head>
    <body>
        <header>
            <div class="header-1">
                <div class="logo-y-buscador">
                    <a href="/" class="logo"><img src="./public/img/logo-mercado-liebre.svg" alt="Logo" ></a>
                    <form method="get" name="buscador-header" class="buscador">
                        <input  type="text" placeholder="Buscá productos, marcas y más">
                        <button class="lupa"><i class="fas fa-search"></i></button>
                        
                    </form>
                </div>
                <p class="anuncio-header">
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>
            <nav class="header-nav">
                <ul class="site-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="login-navbar">
                    <li><a href="/">Inicio</a><i class="fa-solid fa-house"></i></li>
                    <li><a href="/register">Creá tu cuenta</a><i class="fas fa-id-card"></i></li>
                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <button><i class="fas fa-bars"></i></button>
            </div>
        </header>
        
        <main>
            <form method="GET" name= "formulario-registro">
                
                <input class="input-texto" type="text" name="user-name" placeholder="Nombre de usuario">
                
                <input class="input-texto" type="password"  placeholder="Contraseña">
                
                <button class="boton-login" type="submit"><a href="/">Enviar</a></button>
                

            </form>
        </main>

        <footer>
            <div class=footer-info>
                <section>
                    <div><i class="far fa-credit-card"></i></div>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                    </p>
                </section>
                <section>
                    <div><i class="fas fa-gift"></i></div>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                    </p>
                </section>
                <section>
                    <div><i class="fas fa-user-shield"></i></div>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                    </p>
                </section>
            </div>
            <section>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
            
        </footer>
    </body>
</html>